<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Utolsó Vacsora Pizzéria - Home</title>
    <!-- End of Metas -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/content/css/index.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/content/scripts/main.js"></script>
</head>
<body>

<div th:replace="_Header :: header"></div>

<main role="main">

    <div id="welcome" class="jumbotron">
        <div class="container">
            <h1 class="display-3" th:text="#{home.greeting}">Üdvözöljük pizzériánk weboldalán!</h1>
            <p th:text="#{home.slogan}">slogan text</p>
            <p><a class="btn btn-primary btn-lg" href="#pizzas" role="button" th:utext="#{home.toPizzas}">Tovább a pizzákhoz &raquo;</a></p>
        </div>
    </div>
    <div id="searchArea" class="container">
        <form id="searchPizzas" class="form-inline row" method="GET">
            <h1 class="mb-2 col" th:text="#{home.ourPizzas}">Pizzáink</h1>
            <div class="mb-2 d-flex justify-content-end col">
                <input type="text" class="form-control" id="search_text" name="filter" th:placeholder="#{home.searchPlaceholder}" placeholder="pl.: ananász" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" th:text="#{home.search}">Keresés</button>
            </div>
        </form>
    </div>
    <div id="pizzas" class="container">
        <div class="row" th:each="pizza, iterStat : ${pizzaPage.content}" th:if="${iterStat.index} % 3 == 0">
            <div class="card col-sm-4" th:data-id="${pizza.Id}" th:each="pizza , pizzaStat : ${pizzaPage.content}" th:if="${pizzaStat.index lt iterStat.index + 3 and pizzaStat.index ge iterStat.index}">
                <img class="card-img-top" th:src="${pizza.Image}" />
                <div class="card-body">
                    <h5 class="card-title" th:text="${pizza.Name}">No name</h5>
                    <p class="card-text" th:text="${pizza.Description}">No desc</p>
                    <div class="form-group row">
                        <p class="col">
                            <a class="btn btn-secondary form-control addToCart" href="#" role="button" th:utext="#{home.addToCart}">Kosárba &raquo;</a>
                        </p>
                        <p class="col">
                            <select class="form-control">
                                <option>32cm</option>
                                <option>42cm</option>
                                <option>52cm</option>
                            </select>
                        </p>
                    </div>
                    <div class="row">
                        <p class="col" th:text="${pizza.SmallPrice}">0 Ft</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->
    <div class="container" style="padding-top:10px">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item" th:if="${pizzaPage.hasPrevious()}">
                    <a class="page-link" th:href="@{/(page=${currentPage-1})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only" th:text="#{home.pagination.prev}" id="paginationPrev">Previous</span>
                    </a>
                </li>
                <li th:if="${pizzaPage.totalPages > 0}" class="page-item"
                     th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/(page=${pageNumber})}"
                       th:text=${pageNumber}
                       th:th:classappend="${pageNumber==pizzaPage.number + 1} ? active" class="page-link">
                    </a>
                </li>
                <li class="page-item" th:if="${pizzaPage.hasNext()}">
                    <a class="page-link" th:href="@{/(page=${currentPage+1})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only" th:text="#{home.pagination.next}" id="paginationNext">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!--
        Sign In Modal Begins Here
    -->
    <div id="signInModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="signInModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signInModalTitle" th:text="#{home.signIn.title}">Please sign in</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="signInForm" class="form-signin" method="POST">
                        <div class="center">
                            <img class="mb-4" src="/content/img/logowithoutsunrays.png" alt="" width="128" height="128">
                        </div>
                        <label for="inputEmail" th:text="#{home.signIn.email}" class="sr-only">Email address</label>
                        <input type="email" id="inputEmail" class="form-control" th:placeholder="#{home.signIn.email}" placeholder="Email address" required autofocus>
                        <label for="inputPassword" th:text="#{home.signIn.password}" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" th:placeholder="#{home.signIn.password}" placeholder="Password" required>
                        <div class="checkbox mb-3">
                            <label th:text="#{home.signIn.stayLoggedIn}">
                                <input type="checkbox" value="stay-logged-in" > Stay logged in
                            </label>
                        </div>
                        <a data-toggle="modal" data-target="#registerModal" data-dismiss="modal" href="#" th:text="#{home.signIn.newToTheSite}">New to this site?</a>
                    </form>
                </div>
                <div class="modal-footer list-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" form="signInForm" th:text="#{home.signIn.signIn}">Sign in</button>
                    <button type="button" class="btn btn-lg btn-block btn-social btn-facebook">
                        <i class="fab fa-facebook-f"></i> <span th:text="#{home.signIn.signInFB}">Sign in with Facebook</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--
        Register Modal Begins Here
    -->
    <div id="registerModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalTitle" th:text="#{home.signUp.signUp}">Sign up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="registerForm" class="form-signin" method="POST">
                        <div class="center">
                            <img class="mb-4" src="/content/img/logowithoutsunrays.png" alt="" width="128" height="128">
                        </div>
                        <label for="registerEmail" class="sr-only" th:text="#{home.signIn.email}">Email address</label>
                        <input type="email" id="registerEmail" class="form-control" th:placeholder="#{home.signIn.email}" placeholder="Email address" required autofocus>
                        <label for="registerPassword" class="sr-only" th:text="#{home.signIn.password}">Password</label>
                        <input type="password" id="registerPassword" th:placeholder="#{home.signIn.password}" class="form-control" placeholder="Password" required>
                        <label for="registerConfirmPassword" class="sr-only" th:text="#{home.signUp.confirmPassword}">Confirm Password</label>
                        <input type="password" id="registerConfirmPassword" th:placeholder="#{home.signUp.confirmPassword}" class="form-control" placeholder="Confirm Password" required>
                        <div class="checkbox mb-3">
                            <label th:text="#{home.signIn.stayLoggedIn}">
                                <input type="checkbox" value="stay-logged-in"> Stay logged in
                            </label>
                        </div>
                        <a data-toggle="modal" data-target="#signInModal" data-dismiss="modal" href="#" th:text="#{home.signUp.hasAccount}">Already have an account?</a>
                    </form>
                </div>
                <script>
                    var password = document.getElementById("registerPassword"), confirm_password = document.getElementById("registerConfirmPassword");

                    function validatePassword(){
                      if(password.value != confirm_password.value) {
                        confirm_password.setCustomValidity("Passwords don't match");
                      } else {
                        confirm_password.setCustomValidity('');
                      }
                    }

                    password.onchange = validatePassword;
                    confirm_password.onkeyup = validatePassword;
                </script>
                <div class="modal-footer list-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" form="registerForm" th:text="#{home.signUp.signUp}">Sign up</button>
                    <button type="button" class="btn btn-lg btn-block btn-social btn-facebook">
                        <i class="fab fa-facebook-f"></i> <span th:text="#{home.signIn.signInFB}">Sign in with Facebook</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--
        Shopping Cart Modal Begins Here
    -->
    <div id="shoppingCartModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="shoppingCartModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="shoppingCartModalTitle" th:text="#{home.shoppingCart}">Kosár</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul id="shoppingCartItems">

                    </ul>
                </div>
                <div class="modal-footer list-group">
                    <a href="/Checkout"><button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{home.shoppingCart.toCheckout}">Tovább a fizetéshez</button></a>
                </div>
            </div>
        </div>
    </div>
</main>
<hr>

<div th:replace="_Footer :: footer"></div>

</body>
</html>