<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Utolsó Vacsora Pizzéria - Home</title>
    <!-- End of Metas -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/content/css/index.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<nav id="navigation" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/content/img/logowithoutsunrays.png" width="64" height="64" class="d-inline-block align-top" alt="Utolsó Vacsora Pizzéria logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#pizzaNavbar" aria-controls="pizzaNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="pizzaNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#pizzas">Pizzáink</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" th:unless="${isUserLoggedIn}">
                <a class="nav-link" data-toggle="modal" data-target="#signInModal" href="#">SignIn</a>
            </li>
            <li class="nav-item dropdown" th:if="${isUserLoggedIn}">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${userName}">faszomgyuri@talicska.hu</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Profil</a>
                    <a class="dropdown-item" href="Logout">Logout</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Checkout">Kosár <i id="shopping_cart" class="fa fa-shopping-cart"></i></a>
            </li>
        </ul>
    </div>
</nav>

<main role="main">

    <div id="welcome" class="jumbotron">
        <div class="container">
            <h1 class="display-3" th:text="#{home.greeting}">Üdvözöljük pizzériánk weboldalán!</h1>
            <p>Valami fos szöveg jöhet még ide csak hogy jobban nézzen ki. btw miért nem működik az Ő ő betű?</p>
            <p><a class="btn btn-primary btn-lg" href="#pizzas" role="button">Tovább a pizzákhoz &raquo;</a></p>
        </div>
    </div>
    <div id="searchArea" class="container">
        <form id="searchPizzas" class="form-inline row" method="GET">
            <h1 class="mb-2 col">Pizzáink</h1>
            <div class="mb-2 d-flex justify-content-end col">
                <input type="text" class="form-control" id="search_text" name="filter" placeholder="pl.: ananász" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Keresés</button>
            </div>
        </form>
    </div>
    <div id="pizzas" class="container">
            <div class="row" th:each="pizza, iterStat : ${pizzas}" th:if="${iterStat.index} % 3 == 0">
                <div class="card col-sm-4" th:each="pizza , pizzaStat : ${pizzas}" th:if="${pizzaStat.index lt iterStat.index + 3 and pizzaStat.index ge iterStat.index}">
                    <img class="card-img-top" th:src="${pizza.Image}" />
                    <div class="card-body">
                        <h5 class="card-title" th:text="${pizza.Name}">No name</h5>
                        <p class="card-text" th:text="${pizza.Description}">No desc</p>
                        <div class="form-group row">
                            <p class="col">
                                <a class="btn btn-secondary form-control" href="#" role="button">Kosárba &raquo;</a>
                            </p>
                            <p class="col">
                                <select class="form-control">
                                    <option>32cm</option>
                                    <option>42cm</option>
                                    <option>52cm</option>
                                </select>
                            </p>
                        </div>
                        <div class="row">
                            <p class="col" th:text="${pizza.SmallPrice}">0 Ft</p>
                        </div>
                    </div>
                </div>
            </div>
    </div> <!-- /container -->
    <div class="container" style="padding-top:10px">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="signInModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="signInModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signInModalTitle">Please sign in</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="signInForm" class="form-signin" method="POST">
                        <div class="center">
                            <img class="mb-4" src="/content/img/logowithoutsunrays.png" alt="" width="128" height="128">
                        </div>
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="stay-logged-in"> Stay logged in
                            </label>
                        </div>
                        <a data-toggle="modal" data-target="#registerModal" data-dismiss="modal" href="#">New to this site?</a>
                    </form>
                </div>
                <div class="modal-footer list-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" form="signInForm">Sign in</button>
                    <button type="button" class="btn btn-lg btn-block btn-social btn-facebook">
                        <i class="fab fa-facebook-f"></i> Sign in with Facebook
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="registerModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalTitle">Please sign in</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="registerForm" class="form-signin" method="POST">
                        <div class="center">
                            <img class="mb-4" src="/content/img/logowithoutsunrays.png" alt="" width="128" height="128">
                        </div>
                        <label for="registerEmail" class="sr-only">Email address</label>
                        <input type="email" id="registerEmail" class="form-control" placeholder="Email address" required autofocus>
                        <label for="registerPassword" class="sr-only">Password</label>
                        <input type="password" id="registerPassword" class="form-control" placeholder="Password" required>
                        <label for="registerConfirmPassword" class="sr-only">Password</label>
                        <input type="password" id="registerConfirmPassword" class="form-control" placeholder="Confirm Password" required>
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="stay-logged-in"> Stay logged in
                            </label>
                        </div>
                        <a data-toggle="modal" data-target="#signInModal" data-dismiss="modal" href="#">Already have an account?</a>
                    </form>
                </div>
                <script>
                    var password = document.getElementById("registerPassword"), confirm_password = document.getElementById("registerConfirmPassword");

                    function validatePassword(){
                      if(password.value != confirm_password.value) {
                        confirm_password.setCustomValidity("Passwords don't match");
                      } else {
                        confirm_password.setCustomValidity('');
                      }
                    }

                    password.onchange = validatePassword;
                    confirm_password.onkeyup = validatePassword;
                </script>
                <div class="modal-footer list-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" form="registerForm">Sign in</button>
                    <button type="button" class="btn btn-lg btn-block btn-social btn-facebook">
                        <i class="fab fa-facebook-f"></i> Sign in with Facebook
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
<hr>
<footer class="container">
    <p>&copy; Utolsó Vacsora Pizzéria <span th:text="${currentYear}">Which year is it?</span></p>
</footer>
</body>
</html>